#img-bg{
    background-image: url('https://images.eil.com/large_image/KISS_ANIMALIZE%2B-%2BEX-409559.jpg');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}