* {
    font-family: "Poppins", sans-serif;
  }


.btn-lg {
    border-radius: 10px;
    background:#3F0D00;
    color: white;
    height: 45px;
    font-size: 12pt;
  }
  
  .btn-lg:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-out;
    font-weight: bold;
  }

  .bg-roxo {
    background: #FFFFFF; 
  }

  .santana {
    border: 5px;
    box-shadow: #d6d2c4 10px 10px 10px 10px;
  }