#img-bg{
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/81CxgKpp26L.jpg');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-button {
    border-radius: 20px;
}

.form-button:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-out;
}

.form-control {
    border-radius: 15px;
}